<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <img src="/img/logo.jpg" alt="Meadowlark Travel Logo">
</header>
{{{body}}}
</body>
</html>